
    <% include ../partials/header %>
      <h2 class="page-title">All Reservations</h2>
     <% for (var i = 0; i< guests.length; i++){%>
        <div class="guest-wrapper">
     <h3> <%= guests[i].lname %>,  <%= guests[i].fname %></h3>
     <p><%= checkIn[i] %> - <%= checkOut[i] %></p>

          <div class="guest-actions">
            <a href="/guests/<%=guests[i].guest_id%>"> Info</a>
          </div>
           </div>
             <%}%>
    <% include ../partials/footer %>
